<div class="dashboard-container">
  <app-dashboard-sidebar
    [userRole]="'Citizen'"
    [isCollapsed]="!isSidebarOpen"
  ></app-dashboard-sidebar>
  <div class="dashboard-content" [class.sidebar-collapsed]="!isSidebarOpen">
    <app-dashboard-header
      [userRole]="'Citizen'"
      [username]="tokenStorage.getUser()?.username"
      [isSidebarCollapsed]="!isSidebarOpen"
      (toggleSidebar)="toggleSidebar()"
    ></app-dashboard-header>
    <main class="main-content">
      <router-outlet></router-outlet>
      <app-chatbot></app-chatbot>
    </main>
  </div>
</div>
