<div class="dashboard-container">
  <app-dashboard-sidebar
    [userRole]="'Officer'"
    [isCollapsed]="!isSidebarOpen"
  ></app-dashboard-sidebar>
  <div class="dashboard-content" [class.sidebar-collapsed]="!isSidebarOpen">
    <app-dashboard-header
      [userRole]="'Officer'"
      [username]="tokenStorage.getUser()?.username || 'Officer'"
      [isSidebarCollapsed]="!isSidebarOpen"
      (toggleSidebar)="toggleSidebar()"
    ></app-dashboard-header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
