// Footer
$footer-height:                                     60px;
$footer-bg:                                         var(--#{$prefix}footer-bg);
$footer-color:                                      var(--#{$prefix}footer-color);