<section id="faq" class="body faq-container">
  <div class="container">
    <h1 class="text-5xl font-bold mb-4">FAQ</h1>
    <h3 class="faq-subtitle">
      Looking to learn more about our product? Here are some of the most common questions.
    </h3>
    <div class="faq-list">
      <div
        *ngFor="let item of faqs"
        class="faq-item"
      >
        <div
          (click)="toggleQuestion(item)"
          class="faq-question"
        >
          <span class="faq-question-text">{{ item.question }}</span>
          <div class="faq-toggle-icon">
            <i
              class="fas"
              [ngClass]="item.isOpen ? 'fa-chevron-up' : 'fa-chevron-down'"
            ></i>
          </div>
        </div>
        <div
          *ngIf="item.isOpen"
          class="faq-answer"
          [innerHTML]="item.answer"
        >
        </div>
      </div>
    </div>
  </div>
</section>