/* Your custom styles below */
html, body {
  scroll-behavior: smooth;
  scroll-padding-top: -1rem;
  margin: 0;
  padding: 0;
}

/* Sticky header support */

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Bootstrap's default sticky z-index */
}

/* Ensure sections have enough top padding */
#hero, #about, #features, #faq, #findus, #contact {
  scroll-margin-top: 6rem;
}

/* You can add global styles to this file, and also import other style files */
