<div class="dashboard-container">
  <app-dashboard-sidebar
    [userRole]="'Citizen'"
    [isCollapsed]="!isSidebarOpen"
  ></app-dashboard-sidebar>

  <div class="dashboard-content" [class.sidebar-collapsed]="!isSidebarOpen">
    <app-dashboard-header
      [userRole]="'Citizen'"
      [username]="'John Doe'"
      [isSidebarCollapsed]="!isSidebarOpen"
      (toggleSidebar)="toggleSidebar()"
    ></app-dashboard-header>

    <main class="main-content">
      <div class="maps">
        <app-maps></app-maps>
      </div>

      <div class="form">
        <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
          <div class="name-row">
            <div class="head-row">
                <h1>get Appointement</h1>
            </div>
            <div class="add-row">
              <label for="address">Address:<span style="color: transparent;">nu</span></label>
              <input
              class="input"
                type="text"
                id="address"
                name="address"
                placeholder="address"
                [(ngModel)]="address"
                required
                autocomplete="address"
                [disabled]="loading"
              />
            </div>


          <div class="add-row">
            <label for="identityNumber">Idn:<span style="color: transparent;">number</span></label>
            <input
            class="input"
              type="number"
              id="identityNumber"
              name="identityNumber"
              placeholder="Identity number"
              [(ngModel)]="identityNumber"
              required
              autocomplete="identityNumber"
              [disabled]="loading"
            />
          </div>

          <div class="btn-row">
            <button
              type="submit"
              class="sub-btn"
              [disabled]="!registerForm.form.valid || loading"
            >
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading" class="loading-spinner">Submitting...</span>
            </button>
          </div>
          <div class="prof-row" >
            <h6>please fill your profile info before submitting</h6>
          </div>
        </div>
        </form>
      </div>
    </main>
  </div>
</div>
